extends layout

block content
  .wp-right
    - if(current_user)
      != partial('./sidebar/user_info', {user : current_user})
      include ./sidebar/create_topic
    - if(topic_none)
      != partial('./sidebar/topic_none', {topic_none : topic_none})
    include ./sidebar/score-rank
      
  .wp-left
    .panel.index
      .panel-hd 
        div.nav
          a(href="/" class= current_tag === 'all' ? 'active': '') 全部
          each tag in tags
            a(href=`/?tag=${tag}` class= current_tag === tag ? 'active': '')= tag
             
      .panel-bd
        ul.list.list-striped
          include ./mixin/label
          each topic in topics
            li.topic-item
              a.photo-round.float-l.interval-r(href="/user/" + topic.author.username): img(src=topic.author.avatar_url, alt=topic.author.username width="60" height="60")
              .float-r.text-muted #{topic.reply_count}回复 / #{topic.visit_count}浏览 
              .topic-title
                +label(topic)
                if(topic.title.length >= 50)
                  - topic.title = topic.title.slice(0,50) + '...'
                a(href=`/topic/${topic._id}` style="font-weight:600;" title=topic.title.replace(/\n+/,''))= topic.title
              .topic-content.text-muted
                != md.render(topic.abstract+'...')
              if topic.reply 
                span.small.reply_small 最后由 #{topic.reply.author.username} 回复于 #{getTimeAgo(topic.last_reply_at)} 
              else
                span.small.reply_small 由 #{topic.author.username} 发表于 #{getTimeAgo(topic.create_time)}     
        - var pageBaseUrl = `/?tag=${current_tag}`;
        include ./includes/page